<div class="absolute">
  <img
    src="https://assets.nflxext.com/ffe/siteui/vlv3/335ddde7-3955-499c-b4cc-ca2eb7e1ae71/98533523-112a-488c-a711-d0517920cdb5/US-en-20240624-POP_SIGNUP_TWO_WEEKS-perspective_WEB_31571788-f022-43e9-904f-9ad7e6d57bde_small.jpg"
    class="md:h-full"
  />
</div>

<div
class="w-full bg-black md:w-3/12 absolute right-0 left-0 my-36 mx-auto text-white rounded-lg bg-opacity-80 p-12"
>
<h1 class="text-center font-bold text-3xl py-4">Login Now</h1>
<div id="goolge-btn"></div>
</div>
